#about {
  padding-bottom: 30px;
  text-align: justify;
}

#about .bio {
  margin-left: -3px;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#experience {
  padding-top: 50px;
  padding-bottom: 50px;
}

#experience .separator {
  margin-right: 50px;
}

#experience .col-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience .ul-interests {
  padding-left: 18px;
  padding-top: 15px;
  margin-bottom: 0;
}

#experience .ul-interests li {
  text-align: justify;
}

#experience .exp-meta {
  margin-top: 10px;
}

#experience .identity {
  margin-left: 0;
}

#experience .identity img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 2px;
}

#certifications {
  padding-top: 50px;
  padding-bottom: 70px;
}

#certifications .ul-interests {
  padding-left: 18px;
  padding-top: 15px;
  margin-bottom: 0;
}

#certifications .ul-interests li {
  text-align: justify;
  margin-bottom: 15px;
}

#certifications .article-metadata {
  margin-top: 10px !important;
}

#certifications .cambridge-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#certifications .cambridge {
  width: 20px;
  height: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  #certifications .certifications-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  #projects .col-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#projects .project-card {
  width: 25rem;
}

@media screen and (max-width: 992px) {
  #projects .project-card {
    width: 22rem !important;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {
  #projects .project-card {
    width: 19rem;
  }
}

#projects .project-card .card-header {
  height: 230px;
  padding: 0;
}

#projects .project-card .card-header img {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  #projects .project-card .card-header {
    height: 200px;
  }
}

@media screen and (max-width: 928px) {
  #projects .project-card .card-header {
    height: 170px;
  }
}

#projects .project-card .card-body {
  padding-top: 15px;
}

@media screen and (max-width: 928px) {
  #projects .project-card .card-body {
    padding-top: 5px;
  }
}

#projects .project-card .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#projects .project-card .btns-container .btn-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

@media screen and (max-width: 928px) {
  #projects .project-card .btns-container .btn-website {
    height: 28px;
  }
}

#projects .project-card .card-text {
  padding: 0;
  text-align: justify;
}

@media screen and (min-width: 992px) {
  #projects .project-card .card-text {
    font-size: 18px;
  }
}

#projects .project-card a.btn:visited {
  color: white;
}

#projects .project-card .network-icon {
  margin: auto;
  margin-left: 20px;
  margin-right: 13px;
}

#projects .project-card .fa-github {
  font-size: 1.8rem;
  margin-top: 3px;
}

.section-heading {
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .section-heading {
    text-align: center;
  }
}

.navbar-brand {
  margin-right: 50px;
}

.site-footer {
  margin-top: 2rem;
}

.CV-btn {
  margin-right: 20px;
}

#CVModal .modal-body {
  padding-bottom: 0;
}

#CVModal .modal-footer {
  padding-top: 10px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */